{% assign firstPost = true %}
{% assign firstChild = true %}

{% for post in site.posts reversed %}
    {% if firstPost %}
        {% assign firstPost = false %}
        <div id="{{ post.anchor }}" style="display: block; position: relative; top: -300px; visibility: hidden;"></div>
        <section>
    {% else %}
        {% if firstChild != true %}
            <div id="{{ post.anchor }}" style="display: block; position: relative; top: -300px; visibility: hidden;"></div>
            <section>
        {% endif %}
    {% endif %}

    {% if post.isChild != true %}
        {% assign firstChild = true %}

        <div class="page-header">
            <h1>{{ post.title }}</h1>
        </div>
    {% else %}
        <h2>{{ post.title }}</h2>
        <div>
    {% endif %}

    {{ post.content }}

    {% if post.isChild %}
        {% assign firstChild = false %}
            </div>
        </section>
    {% endif %}
{% endfor %}