{% assign lastIsChild = false %}
<nav id="navbar" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{ site.url }}">
        <img class="img-fluid" alt="Logo do PHP Brasil" src="{{ "/assets/images/php-brasil.svg" | absolute_url }}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
        {% for post in site.posts reversed %}
            {% if post.isChild != true %}
                <li class="nav-item"><a class="nav-link" href="#{{ post.anchor }}">{{ post.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</nav>
