<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="{{ page.author }}">
        <meta name="description" content="{{ page.description }}">
        <meta name="robots" content="index,follow,archive" >

        <meta property="og:image" content="{{ "/assets/images/leia-as-regras.png" | absolute_url }} >
        <meta property="og:title" content="PHP Brasil - Leia as regras antes de postar" >
        <meta property="og:description" content="{{ page.description }}" >
        <meta property="og:url" content="{{ "/" | absolute_url }} >
        <meta property="og:site_name" content="PHP Brasil">
        <meta property="og:type" content="website">
        
        <title>{{ site.title }}</title>
        
        <link rel="shortcut icon" href="{{ "/assets/images/favicon.png" | absolute_url }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}">
    </head>

    <body data-spy="scroll" data-target="#navbar">
        {% include navbar.html %}

        <div role="main" class="container main">
            {% include content.html %}
        </div>

        <footer class="footer">
            <div class="container text-center">
                <a href="http://php.net/manual/" class="text-muted">Documentação Oficial do PHP</a>
                | 
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                    <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/80x15.png">
                </a>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
